@import "~antd/dist/antd.dark.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

html,
body,
#__next { height: 100%; }

* {
  box-sizing: border-box;
}

/* Override ant.design styles */
.ant-select-item {
  font-size: 12px !important;
}

.ant-select-item-option-selected {
  color: rgb(240, 185, 11) !important;
}

th.ant-table-cell {
  font-size: 12px !important;
}

td.ant-table-cell {
  border-width: 0 !important;
  padding: 6px 8px !important;
}

.ant-table-tbody .ant-table-cell {
  font-family: monospace !important;
}